/* SECTION: Box shadow */
body.theme-light {
  --box-shadow-1:
    0 0 0 1px rgba(0, 0, 0, 0.12),
    0 3px 4px 0 rgba(0, 0, 0, .05),
    0 2px 2.5px 0 rgba(0, 0, 0, .03),
    0 2px 3px 0 rgba(0, 0, 0, .04),
    0 0 0 0 transparent;
  --box-shadow-1-hover:
    inset 0 0 0 1px rgba(0, 0, 0, 0.17),
    0 2px 3px 0 rgba(0, 0, 0, .1),
    0 1px 1.5px 0 rgba(0, 0, 0, .03),
    0 1px 2px 0 rgba(0, 0, 0, .04),
    0 0 0 0 transparent;
  --box-shadow-2:
    0 0 0 1px #999999,
    0 0 20px 0px #11111111,
    0 30px 50px 0px #11111144;
  --input-shadow: var(--box-shadow-1);
  --toolbox-shadow: var(--box-shadow-1);
}

body.theme-dark {
  --box-shadow-1:
    0 0 0 1px #555555,
    0 3px 4px 0 rgba(0, 0, 0, .3),
    0 2px 2.5px 0 rgba(0, 0, 0, .5),
    0 2px 3px 0 rgba(0, 0, 0, .4),
    0 0 0 0 transparent;
  --box-shadow-1-hover:
    inset 0 0 0 1px #555555,
    0 2px 3px 0 rgba(0, 0, 0, .1),
    0 1px 1.5px 0 rgba(0, 0, 0, .03),
    0 1px 2px 0 rgba(0, 0, 0, .04),
    0 0 0 0 transparent;
  --box-shadow-2:
    0 0 0 1px #555555,
    0 0 20px 0px #11111111,
    0 30px 50px 0px #11111144;
  --input-shadow: var(--box-shadow-1);
  --toolbox-shadow: var(--box-shadow-1);
}

body.is-phone.theme-dark {
  --box-shadow-1:
    0 0 0 1px rgba(255, 255, 255, 0.12),
    0 2px 5px 0 rgba(255, 255, 255, .2),
    0 2px 7.5px 0 rgba(255, 255, 255, .15),
    0 3px 10px 0 rgba(255, 255, 255, .1),
    0 0 0 0 transparent;
  --box-shadow-2:
    0 0 0 1px rgba(255, 255, 255, 0.12),
    0 -2px 5px 0 rgba(255, 255, 255, .2),
    0 -2px 7.5px 0 rgba(255, 255, 255, .15),
    0 -3px 10px 0 rgba(255, 255, 255, .1),
    0 0 0 0 transparent;
}