/* NOTE: Block Embeds */
.markdown-source-view.mod-cm6 .cm-content>[contenteditable=false] {
  overflow: visible;
}

.markdown-source-view.mod-cm6 .cm-embed-block {
  border: none;
}

@media (hover: hover) {
  .markdown-source-view.mod-cm6 .cm-embed-block:hover {
    box-shadow: none;
    transition: none;
    border: none;
    cursor: var(--cursor);
  }
}

.markdown-rendered *+ :is(.el-table, table) {
  margin-top: calc(var(--small-spacing));
}

.markdown-rendered :is(.el-table, table, ):has(+ *) {
  margin-bottom: calc(var(--small-spacing));
}

/* NOTE: data-block-language */
.markdown-preview-view *+[data-block-language] {
  margin-top: calc(var(--small-spacing));
}

.markdown-preview-view [data-block-language]:has(+ *) {
  margin-bottom: calc(var(--small-spacing));
}

/* NOTE: HTML Embeds */
.markdown-reading-view .markdown-preview-view *+.el-div:has(> div) {
  margin-top: calc(var(--small-spacing));
}

.markdown-reading-view .markdown-preview-view .el-div:has(>div):has(+ *) {
  margin-bottom: calc(var(--small-spacing));
}

/* NOTE: Media Embeds */
.markdown-source-view.mod-cm6 *+.media-embed,
.markdown-reading-view .markdown-preview-view *+[class*="el-embed"],
.print .markdown-preview-view *+p:has(> .media-embed),
.callout *+p:has(> .media-embed) {
  margin-top: var(--small-spacing);
}

.markdown-source-view.mod-cm6 .media-embed:has(+ *),
.markdown-reading-view .markdown-preview-view [class*="el-embed"]:has(+ *),
.print .markdown-preview-view p:has(> .media-embed):has(+ *),
.callout p:has(> .media-embed):has(+ *) {
  margin-bottom: var(--small-spacing);
}
