/* Ribbon */
/* Add background to top left corner space above ribbon */
.workspace-ribbon.mod-left {
  margin-top: var(--header-height);
  /* Add the tab background in the top left corner */
}

.workspace-ribbon.mod-left:before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--titlebar-background);
  content: " ";
  border-bottom: var(--tab-outline-width) solid var(--tab-outline-color);
  height: var(--header-height);
  width: var(--ribbon-width);
  box-sizing: border-box;
}

.workspace-ribbon {
  width: var(--ribbon-width);
  flex: 0 0 var(--ribbon-width);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--ribbon-background);
  z-index: var(--layer-sidedock);
  color: var(--text-muted);
  padding: var(--ribbon-padding);
  gap: var(--size-4-1);
  border-right: var(--divider-width) solid var(--divider-color);
}

.workspace-ribbon.mod-left.is-collapsed {
  transition: background-color 250ms 95ms ease-in-out;
  background-color: var(--ribbon-background-collapsed);
  border-right-color: var(--divider-color);
}

.workspace-ribbon.mod-right {
  display: none;
}

.workspace-ribbon.is-hidden {
  display: none;
}

.workspace-ribbon.is-collapsed {
  background-color: var(--background-secondary);
}
