/* 
    Workspace Splits are panels that are split off from the main workspace,
    either to the left or right side of the main workspace area.

    In this theme, we make them float above the main workspace with a slight
    backdrop blur and shadow effect to distinguish them visually.
*/


.workspace-split {
    --border-radius: 5px;
}


.workspace-split:is(.mod-left-split, .mod-right-split) {
    display: flex !important;
    position: absolute;
    height: unset;
    top: calc(var(--header-height) * 2);
    bottom: 20px;
    border: solid;
    border-width: 1px;
    border-color: var(--color-base-20);
    border-radius: var(--border-radius);
    z-index: 50;
    opacity: 1;
    transition: none !important;
    box-shadow: var(--assistance-panel-box-shadow);
    backdrop-filter: blur(10px);
}

/* .workspace-split:is(.mod-left-split, .mod-right-split) .workspace-tabs:nth-child(3) {
  border-top: solid 0.5px var(--color-base-40);
  border-top-left-radius: var(--floating-leaf-radius);
  border-top-right-radius: var(--floating-leaf-radius);
} */

.workspace-split:is(.mod-left-split, .mod-right-split) .workspace-tabs:last-child {
  border-bottom-left-radius: var(--floating-leaf-radius);
  border-bottom-right-radius: var(--floating-leaf-radius);
}

.workspace-split .workspace-tab-header-container {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.workspace-split .workspace-sidedock-vault-profile {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.workspace-split.mod-left-split .view-header,
.workspace-split.mod-right-split .view-header,
.workspace-fake-target-overlay.is-in-sidebar .view-header {
  display: none;
}
.view-header.is-highlighted:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  inset-inline-start: 0;
  background-color: hsla(var(--interactive-accent-hsl), 0.5);
}
.view-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.view-header-title-container {
  font-family: var(--file-header-font);
  font-size: var(--file-header-font-size);
  font-weight: var(--file-header-font-weight);
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  justify-content: var(--file-header-justify);
  display: flex;
  align-items: center;
  gap: var(--size-4-1);
  min-width: 0;
}
.view-header-title-parent {
  color: var(--text-muted);
  flex: 0 100 auto;
  display: flex;
  gap: 0;
  overflow: hidden;
  white-space: nowrap;
}
.view-header-title-parent:empty {
  display: none;
}
.view-header-title-parent .view-header-breadcrumb {
  padding: 2px 4px;
  border-radius: var(--radius-s);
  overflow: hidden;
  text-overflow: ellipsis;
}
.view-header-title-parent .view-header-breadcrumb.has-active-menu {
  background-color: var(--background-modifier-hover);
  color: var(--text-normal);
}
@media (hover: hover) {
  .view-header-title-parent .view-header-breadcrumb:hover {
    background-color: var(--background-modifier-hover);
    color: var(--text-normal);
  }
}
.view-header-title-parent .view-header-breadcrumb-separator {
  padding: 2px 1px;
  color: var(--text-faint);
}
.view-header-title {
  flex: 0 0 auto;
  max-width: 100%;
  word-wrap: normal;
  color: var(--text-muted);
  overflow: hidden;
  scroll-padding-inline-end: 20px;
  text-overflow: ellipsis;
  white-space: pre;
}
.view-header-title:focus-within {
  max-width: 100%;
  overflow: auto;
  text-overflow: unset;
}
.is-focused .workspace-leaf.mod-active .view-header-title {
  color: var(--text-normal);
}
.view-header-title::-webkit-scrollbar {
  display: none;
}
.view-content {
  width: 100%;
  height: calc(100% - var(--header-height));
}
.workspace-split.mod-root .view-content {
  background-color: var(--background-primary);
}
.workspace-split.mod-root .workspace-fake-target-overlay .view-content {
  background-color: transparent;
}
.workspace-split.mod-left-split .view-content,
.workspace-split.mod-right-split .view-content {
  height: 100%;
  overflow: auto;
}

/* SECTION: mod-right & mod-left */
.mod-macos.is-hidden-frameless:not(.is-popout-window) .sidebar-toggle-button.mod-right {
  background-color: var(--tab-container-background);
  position: relative;
  top: 0;
  right: 0;
  padding-right: 0;
  z-index: var(--layer-popover);
}

.mod-macos.is-hidden-frameless:not(.is-popout-window) .workspace .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
  padding-right: var(--size-4-2);
}

/* SECTION: File explorer */
.nav-files-container {
  padding: 10px;
}

body.theme-light.background-settings-workplace-background-image .nav-folder.mod-root>.nav-folder-title,
body.theme-dark.background-settings-workplace-background-image .nav-folder.mod-root>.nav-folder-title {
  background-color: transparent;
}

.nav-folder-title,
.nav-file-title {
  padding: var(--nav-item-parent-padding);
}

.nav-files-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0 var(--size-4-3) var(--size-4-6) var(--size-4-3);
  scroll-padding-block: var(--size-4-2);
}

/* ======================================= Collapse Indicator ================================= */
body:not(.default-icons) .nav-folder-collapse-indicator {
  position: static;
  /*    left: 6.5px;*/
  /*    top: 3px;*/
  transition: transform 20ms linear 0s;
}

body:not(.default-icons):not(.remove-arrow) .nav-folder-collapse-indicator::after {
  position: static;
  /*    content: "↓";*/
  /*    top: 1px;*/
  font-size: 0.9em;
  font-family: 'Inter';
  font-weight: bold;
  color: var(--text-accent);
  transition: transform 10ms linear 0s;
}

body:not(.default-icons).is-mobile .nav-folder-collapse-indicator::after {
  margin-left: 0em;
}

body:not(.default-icons).is-phone .nav-folder.is-collapsed .nav-folder-collapse-indicator::after {
  transform: rotate(-90deg);
  opacity: 0.55;
}

body:not(.default-icons).is-tablet .nav-folder.is-collapsed .nav-folder-collapse-indicator::after {
  transform: rotate(-90deg) translateY(2px);
  opacity: 0.55;
}

/* ====================================== Infinite space ====================================== */
.nav-folder {
  width: min-content;
}

.nav-file {
  width: min-content;
}

.nav-file-title-content,
.nav-folder-title-content {
  width: max-content;
  overflow: visible;
  white-space: var(--nav-item-white-space);
  text-overflow: unset;
}

.tree-item-self .tree-item-icon {
  margin-left: calc(-1 * var(--size-4-4));
}


/* SECTION: mod-root */
/* mod-root is a workspace-split */
/* a highest workspace-split can be further splitted to other workspace-splits, including mod-horizontal or mod-vertical */
/* a workspace-split contains only one workspace-tabs */
/* Such a workspace-tabs contains a workspace-tab-header, and a workspace-tab-container */
/* Inside workspace-tab-containers are many workspace-leaf, not workspace-tab. According to their activation, their display is set to none or not */
/* SECTION: workspace-tab-header */
.is-hidden-frameless:not(.is-fullscreen) .mod-root .workspace-tabs.mod-top .workspace-tab-header-container {
  padding-left: var(--frame-left-space);
}

.is-hidden-frameless:not(.is-fullscreen) .mod-root .workspace-tabs.mod-top .workspace-tab-header-container:before {
  -webkit-app-region: no-drag;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: var(--frame-left-space);
}

/* !SECTION */