input,
input.metadata-input-text {
  -webkit-app-region: no-drag;
  background: var(--background-modifier-form-field);
  border: var(--input-border-width) solid var(--background-modifier-border);
  color: var(--text-normal);
  font-family: inherit;
  padding: var(--size-4-1) var(--size-4-2);
  font-size: var(--font-ui-small);
  border-radius: var(--input-radius);
  outline: none;
}

@media (hover: hover) {

  textarea:hover,
  input.metadata-input-text:hover {
    border-color: var(--background-modifier-border-hover);
    transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out
  }
}

textarea:active,
input.metadata-input-text:active,
textarea:focus,
input.metadata-input-text:focus {
  border-color: var(--background-modifier-border-focus);
  transition: box-shadow 0.15s ease-in-out, border 0.15s ease-in-out;
}

textarea:active,
input.metadata-input-text:active,
textarea:focus,
input.metadata-input-text:focus,
textarea:focus-visible,
input.metadata-input-text:focus-visible {
  box-shadow: 0 0 0 2px var(--background-modifier-border-focus);
}

textarea::placeholder,
input.metadata-input-text::placeholder {
  color: var(--text-faint);
}

input {
  height: var(--input-height);
}

/* Textarea */
textarea {
  line-height: var(--line-height-tight);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
  pointer-events: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Date input */
input[type='date'],
input[type='datetime-local'] {
  font-variant-numeric: tabular-nums;
}

input[type='date']::-webkit-datetime-edit-text,
input[type='datetime-local']::-webkit-datetime-edit-text {
  color: var(--text-faint);
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='datetime-local']::-webkit-calendar-picker-indicator {
  opacity: 0.5;
}

input[type='date']::-webkit-datetime-edit-month-field:active,
input[type='datetime-local']::-webkit-datetime-edit-month-field:active,
input[type='date']::-webkit-datetime-edit-month-field:focus,
input[type='datetime-local']::-webkit-datetime-edit-month-field:focus,
input[type='date']::-webkit-datetime-edit-day-field:active,
input[type='datetime-local']::-webkit-datetime-edit-day-field:active,
input[type='date']::-webkit-datetime-edit-day-field:focus,
input[type='datetime-local']::-webkit-datetime-edit-day-field:focus,
input[type='date']::-webkit-datetime-edit-year-field:active,
input[type='datetime-local']::-webkit-datetime-edit-year-field:active,
input[type='date']::-webkit-datetime-edit-year-field:focus,
input[type='datetime-local']::-webkit-datetime-edit-year-field:focus {
  background-color: var(--text-selection);
  color: var(--text-normal);
  cursor: text;
}

/* Range slider */
input[type='range'] {
  width: 100px;
  -webkit-appearance: none;
  background-color: var(--slider-track-background);
  border-radius: var(--slider-track-height);
  height: var(--slider-track-height);
  padding: 0;
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--slider-thumb-height);
  width: var(--slider-thumb-width);
  border-radius: var(--slider-thumb-radius);
  cursor: default;
  background: #FFF;
  border: var(--slider-thumb-border-width) solid var(--slider-thumb-border-color);
  position: relative;
  top: var(--slider-thumb-y);
  transition: all 0.1s linear;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.05), 0 2px 2px 0px rgba(0, 0, 0, 0.1);
}

input[type='range']::-webkit-slider-thumb:hover,
input[type='range']::-webkit-slider-thumb:active {
  background: white;
  border-color: var(--background-modifier-border-focus);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1), 0 2px 3px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
}

body:not(.is-mobile) input[type=range]:focus {
  box-shadow: none;
}

body:not(.is-mobile) input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05), 0 2px 3px 0px rgba(0, 0, 0, 0.2);
}

body:not(.is-mobile) input[type=range]:focus-visible::-webkit-slider-thumb {
  border-color: var(--background-modifier-border-focus);
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05), 0 2px 3px 0px rgba(0, 0, 0, 0.2), 0 0 0px 2px var(--background-modifier-border-focus);
}

/* Color inputs */
input[type="color"] {
  -webkit-appearance: none;
  width: calc(var(--swatch-width) + 4px);
  background-color: transparent;
  border: none;
  cursor: var(--cursor);
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 2px;
}

input[type="color"]::-webkit-color-swatch {
  border: 0px;
  box-shadow: var(--swatch-shadow);
  border-radius: var(--swatch-radius);
  height: var(--swatch-height);
  width: var(--swatch-width);
  align-self: center;
}

@media (hover: hover) {
  input[type="color"]::-webkit-color-swatch:hover {
    box-shadow: inset 0 0 0 1px rgba(var(--mono-rgb-100), 0.25), 0 0 0 3px var(--background-modifier-border-hover)
  }
}

input[type="color"]:focus-visible::-webkit-color-swatch,
input[type="color"]:focus::-webkit-color-swatch {
  box-shadow: var(--swatch-shadow), 0 0 0 3px var(--background-modifier-border-focus);
}