
/* 实时表格编辑相关 */
.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper {
}

.table-wrapper > table.table-editor {
}

.el-table > table {
}

/* .table-cell-wrapper .cm-line:has(> br) {
  height: unset;
  line-height: unset;
} */

.markdown-rendered table {
  margin-bottom: 0em;
  margin-block-start: 0;
  margin-block-end: var(--p-spacing);
  border-collapse: collapse;
}

.markdown-rendered td,
.markdown-rendered th {
  padding: var(--size-2-2) var(--size-4-2);
  border: var(--table-border-width) solid var(--table-border-color);
}

.markdown-rendered td {
  font-size: var(--table-text-size);
  color: var(--table-text-color);
}

.markdown-rendered th {
  font-size: var(--table-header-size);
  font-weight: var(--table-header-weight);
  color: var(--table-header-color);
  font-family: var(--table-header-font);
  line-height: var(--line-height-tight);
}

.markdown-rendered tbody tr {
  background-color: var(--table-background);
}

@media (hover: hover) {
  .markdown-rendered tbody tr:hover {
    background-color: var(--table-row-background-hover);
  }
}

.markdown-rendered tbody tr:nth-child(odd) {
  background-color: var(--table-row-alt-background);
}

@media (hover: hover) {
  .markdown-rendered tbody tr:nth-child(odd):hover {
    background-color: var(--table-row-background-hover);
  }
}

.markdown-rendered tbody tr>td:nth-child(2n+2) {
  background-color: var(--table-column-alt-background);
}

.markdown-rendered tbody tr:last-child>td {
  border-bottom-width: var(--table-row-last-border-width);
}

.markdown-rendered tbody tr>td:first-child {
  border-left-width: var(--table-column-first-border-width);
}

.markdown-rendered tbody tr>td:last-child {
  border-right-width: var(--table-column-last-border-width);
}

.markdown-rendered thead tr {
  background-color: var(--table-header-background);
}

@media (hover: hover) {
  .markdown-rendered thead tr:hover {
    background-color: var(--table-header-background-hover);
  }
}

.markdown-rendered thead tr>th {
  border-top-width: var(--table-header-border-width);
  border-color: var(--table-header-border-color);
}

.markdown-rendered thead tr>th:nth-child(2n+2) {
  background-color: var(--table-column-alt-background);
}

.markdown-rendered thead tr>th:first-child {
  border-left-width: var(--table-column-first-border-width);
}

.markdown-rendered thead tr>th:last-child {
  border-right-width: var(--table-column-last-border-width);
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-table-row {
  min-width: max-content;
}

.markdown-source-view.mod-cm6 .cm-table-widget table {
  margin-bottom: 0;
}