/* -- Main multi-column snippet using Callout */
/* remove callout-title and make callout-content as part of main callout for box formatting */

.callout {
  --multi-column-gap: 1rem;
  --multi-column-min-width: 200px;
}

div[data-callout-metadata*="multi-column"].callout {
  clear: both;
}

div[data-callout-metadata*="multi-column"].callout > .callout-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: stretch;
  gap: var(--multi-column-gap);
}

div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout {
  flex: 1 0 var(--multi-column-min-width);
  width: unset;
}

:is(.markdown-source-view, .markdown-reading-view > .markdown-preview-view, 
.print > .markdown-preview-view) div[data-callout-metadata*="multi-column"].callout>.callout-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: var(--multi-column-gap);
  overflow: visible;
}

div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-"] {flex-grow: 0; flex-shrink: 0; width: unset;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-100px"] { flex-basis: 100px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-150px"] { flex-basis: 150px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-200px"] { flex-basis: 200px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-250px"] { flex-basis: 250px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-300px"] { flex-basis: 300px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-350px"] { flex-basis: 350px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-400px"] { flex-basis: 400px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-450px"] { flex-basis: 450px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-500px"] { flex-basis: 500px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-550px"] { flex-basis: 550px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-600px"] { flex-basis: 600px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-650px"] { flex-basis: 650px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-700px"] { flex-basis: 700px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-750px"] { flex-basis: 750px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > .callout[data-callout-metadata*="width-800px"] { flex-basis: 800px;}
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-2"] { flex-grow: 2; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-3"] { flex-grow: 3; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-4"] { flex-grow: 4; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-5"] { flex-grow: 5; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-6"] { flex-grow: 6; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-7"] { flex-grow: 7; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-8"] { flex-grow: 8; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-9"] { flex-grow: 9; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-10"] { flex-grow: 10; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-11"] { flex-grow: 11; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-12"] { flex-grow: 12; }
div[data-callout-metadata*="multi-column"].callout > .callout-content > div[data-callout-metadata*="grow-13"] { flex-grow: 13; }