.suggestion {
  max-height: 300px;
  overflow-y: auto;
  padding: var(--size-2-3);
}

.suggestion-item,
.suggestion-empty {
  font-size: var(--font-ui-medium);
  margin-bottom: 1px;
}

.suggestion-empty {
  color: var(--text-muted);
  padding: var(--size-4-2);
  padding-top: var(--size-4-3);
  text-align: center;
}

.suggestion-item {
  cursor: var(--cursor);
  padding: var(--size-2-3) var(--size-4-3);
  padding-left: 12px;
  white-space: pre-wrap;
  border-radius: var(--radius-s);
}

.suggestion-item.is-selected {
  background-color: var(--background-modifier-hover);
}

.suggestion-item.mod-downranked {
  color: var(--text-muted);
}

.suggestion-item.mod-complex {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.suggestion-item.mod-complex .suggestion-title {
  overflow-wrap: break-word;
}

.suggestion-item.mod-complex .suggestion-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.suggestion-item.mod-complex .suggestion-prefix:after {
  content: ': ';
}

.suggestion-item.mod-complex .suggestion-highlight {
  font-weight: bold;
}

.suggestion-item.mod-complex .suggestion-note {
  font-size: 0.8em;
  color: var(--text-muted);
  width: 100%;
  flex-basis: 100%;
  overflow-wrap: break-word;
}

.suggestion-item.mod-complex .suggestion-aux {
  display: flex;
  align-items: center;
  align-self: center;
  flex-shrink: 0;
}

.suggestion-item.mod-complex .suggestion-hotkey {
  font-size: var(--font-ui-smaller);
  font-family: var(--font-interface);
  padding: 2px 6px;
}

.suggestion-item.mod-complex .suggestion-hotkey:not(:last-child) {
  margin-left: 10px;
}

.suggestion-item.mod-complex .suggestion-flair {
  color: var(--text-muted);
  opacity: var(--icon-opacity);
  margin: 0 4px 0 12px;
  display: flex;
  align-items: center;
}

.suggestion-item.mod-complex .suggestion-flair:not(:last-child) {
  margin-left: 6px;
}

.suggestion-highlight {
  font-weight: bold;
}

.suggestion-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modifier-cover);
  z-index: var(--layer-popover);
}