
/* NOTE: Callouts without header (card)*/
:is(.markdown-preview-view, .markdown-source-view.mod-cm6) .callout[data-callout*="card"] {
  background-color: transparent;
}

:is(.markdown-preview-view, .markdown-source-view.mod-cm6) .callout[data-callout*="card"]>.callout-title {
  display: none
}