/* Obsidian 导出的 PDF 中, A4 页面的页宽为 200 px */

body {
    --a4-page-print-width-original: 794px;
    --a4-page-print-width-zoomed: calc(var(--a4-page-print-width-original) / var(--print-zoom) * 100);
    --a4-content-width: var(--a4-page-print-width-zoomed);
    --a4-page-width: calc(var(--a4-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
}

@media print {

  /* 打印页面 */
    .print > .markdown-preview-view.a4-page {
        --print-page-width: var(--a4-page-print-width-zoomed);
    }
}

/* 编辑模式 */ .markdown-source-view.a4-page:is(*, .is-readable-line-width) .cm-sizer ,
/* 预览模式 */ .markdown-reading-view > .markdown-preview-view.a4-page:is(*, .is-readable-line-width) .markdown-preview-sizer {
    /* Strict width control with width, max-width, min-width all set to var(--a4-page-width) */
    width: var(--a4-page-width);
    max-width: var(--a4-page-width);
    min-width: var(--a4-page-width);
    margin-left: auto;
    margin-right: auto;
}

.markdown-source-view.mod-cm6.a4-page:is(*, .is-readable-line-width) .cm-sizer .cm-content {
    /* max-width: var(--a4-page-width); */
}

.markdown-source-view.mod-cm6.a4-page:is(*, .is-readable-line-width) .cm-sizer .cm-content .cm-line {
    /* max-width: var(--a4-page-width); */
}

.markdown-source-view.mod-cm6.a4-page:is(*, .is-readable-line-width) .cm-sizer .cm-content .cm-line.HyperMD-table-row {
    /* max-width: var(--a4-page-width); */
}

.markdown-source-view.mod-cm6.a4-page:is(*, .is-readable-line-width) .markdown-embed .markdown-preview-sizer {
    padding: 0;
    width: var(--a4-page-width);
}