body {
  --document-radius: 3px;
  --document-radiuses: 3px 3px 3px 3px;
  --scroller-paddings: 0px;
  --scroller-margins: 0px;
  --file-line-width: calc(var(--font-text-size) * var(--words-per-line));
  --document-width: calc(var(--font-text-size) * var(--words-per-line));
  --file-folding-offset: 24px;
  --file-margins: var(--size-4-8);
  --file-header-font-size: var(--font-ui-small);
  --file-header-font-weight: 400;
  --file-header-border: var(--border-width) solid transparent;
  --file-header-justify: center;
}

/* SECTION: Source view */
.markdown-source-view {
  font-size: var(--font-text-size);
  font-family: var(--font-text);
}

.markdown-source-view.mod-cm5 {
  height: 100%
}

.workspace-leaf-content.is-read-mode .markdown-source-view {
  z-index: 0
}


/* NOTE: Gutters */
body {
  --gutter-width: 28px;
  --gutter-offset: var(--file-folding-offset);
}

.markdown-source-view.mod-cm6 .cm-gutters {
  flex: 0 0 auto;
  background-color: transparent;
  color: var(--text-faint) !important;
  border-right: none !important;
  font-size: var(--font-ui-smaller);
  z-index: 1;
  font-variant: tabular-nums;
}

.markdown-source-view.mod-cm6 .cm-gutters .cm-gutter {
  width: var(--gutter-width);
}

.markdown-source-view.mod-cm6 .cm-gutters .cm-gutter .cm-gutterElement.cm-active {
  color: var(--text-normal) !important;
}

/* NOTE: cm-editor */
.markdown-source-view.mod-cm6 .cm-editor {
  width: 100%
}

/* PLUGIN: Self-hosted LiveSync */
.table-cell-wrapper .cm-s-obsidian>.cm-editor::before {
  content: '';
}

.markdown-reading-view {
  width: 100%
}

/* SECTION: View */
/* NOTE: cm-scroller */
.view-content>.markdown-source-view.mod-cm6>.cm-editor>.cm-scroller {
  font-family: var(--font-text);
  line-height: var(--line-height-normal);
  scroll-padding-block-end: var(--status-bar-scroll-padding);
  padding: var(--scroller-paddings);
  margin: var(--scroller-margins);
  width: 100%;
  background: transparent;
}

/* NOTE: markdown-preview-view */
.markdown-preview-view {
  font-size: var(--font-text-size);
  font-family: var(--font-text);
  line-height: var(--line-height-normal);
  width: 100%;
  height: 100%;
  padding: var(--scroller-paddings);
  position: relative;
  overflow-y: auto;
  overflow-wrap: break-word;
  color: var(--text-normal);
  user-select: text;
  -webkit-user-select: text;
}

.workspace-leaf-content.is-read-mode .markdown-preview-view {
  width: 100%;
  left: 0;
  background-color: var(--background-primary);
}


/* SECTION: Sizer */
body {
  --a3-content-width: 72.8rem;
  --sizer-padding-left: 10px;
  --sizer-padding-right: 20px;
  --sizer-padding-top: 32px;
  --sizer-padding-bottom: 32px;
  --sizer-paddings: var(--sizer-padding-top) var(--sizer-padding-right) var(--sizer-padding-bottom) var(--sizer-padding-left);
  --sizer-margins: 0px
}

/* NOTE: Default */
/* 没有开启缩减栏宽的状态 */
.markdown-source-view.mod-cm6 .cm-sizer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-height: 100%;
  padding: var(--sizer-paddings);
  margin: var(--sizer-margins);
  background: var(--document-background);
}

.markdown-preview-view>.markdown-preview-sizer {
  margin: var(--sizer-margins);
  max-width: unset;
  padding: var(--sizer-padding-top) var(--sizer-padding-right) var(--sizer-padding-bottom) calc(var(--sizer-padding-left) + var(--gutter-width) + var(--gutter-offset));
  margin: var(--sizer-margins);
  background: var(--document-background);
}

.internal-embed .markdown-preview-view>.markdown-preview-sizer {
  padding: 0px;
}

.canvas-node .markdown-preview-view .markdown-preview-sizer {
  padding: 0;
}

/* NOTE: Readable */
/* 开启缩减栏宽后会给 .markdown-source-view 与 .markdown-reading-view > .markdown-preview-view 添加 .is-readable-line-width 类 */
/* 默认使用符合 a4 打印纸的结果进行缩减栏宽, 但是不限制最小宽度 */
body {
  --width-is-readable-line-width: var(--a4-content-width);
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
  width: 100%;
  max-width: calc(var(--width-is-readable-line-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
  margin-left: auto;
  margin-right: auto;
  /* border: solid 1px black; */
}

.markdown-reading-view>.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  width: 100%;
  max-width: calc(var(--width-is-readable-line-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
  margin-left: auto;
  margin-right: auto;
  /* border: solid 1px black; */
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-content {
  max-width: var(--width-is-readable-line-width);
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
  max-width: var(--width-is-readable-line-width);
}

.markdown-source-view.mod-cm6.is-readable-line-width .cm-line.HyperMD-table-row {
  max-width: 100%;
}

.markdown-preview-view.is-readable-line-width .markdown-embed .markdown-preview-sizer {
  padding: 0;
  width: 100%;
  max-width: calc(var(--width-is-readable-line-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
}

/* NOTE: Wide */
/* 添加 cssclasses: wide 可得到宽笔记 */
.markdown-source-view.mod-cm6.wide:is(*, is-readable-line-width) .cm-sizer {
  width: 100%;
  max-width: 100%;
  margin: var(--sizer-margins);
}

.markdown-reading-view>.markdown-preview-view.wide:is(*, .is-readable-line-width) .markdown-preview-sizer {
  width: 100%;
  max-width: 100%;
  margin: var(--sizer-margins);
}

.markdown-source-view.mod-cm6.wide:is(*, is-readable-line-width) .cm-content {
  max-width: 100%;
}

.markdown-source-view.mod-cm6.wide:is(*, is-readable-line-width) .cm-line {
  max-width: 100%;
}

.markdown-source-view.mod-cm6.wide:is(*, is-readable-line-width) .cm-line.HyperMD-table-row {
  max-width: 100%;
}

.markdown-source-view.mod-cm6.wide:is(*, is-readable-line-width) .markdown-embed .markdown-preview-sizer {
  padding: 0;
  width: 100%;
  max-width: 100%;
}

/* NOTE: A3 */
/* 添加 cssclasses: a3-page 可以得到排版适合于 a4 打印纸的结果 */
.markdown-source-view.mod-cm6.a3-page:is(*, is-readable-line-width) .cm-sizer,
.markdown-preview-view.a3-page:is(*, .is-readable-line-width) .markdown-preview-sizer {
  width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
  max-width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
  min-width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
  margin-left: auto;
  margin-right: auto;
}

/* For Plugin Print Preview */


.markdown-source-view.mod-cm6.a3-page:is(*, is-readable-line-width) .cm-content {
  max-width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
}

.markdown-source-view.mod-cm6.a3-page:is(*, is-readable-line-width) .cm-line {
  max-width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
}

.markdown-source-view.mod-cm6.a3-page:is(*, is-readable-line-width) .cm-line.HyperMD-table-row {
  max-width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset + var(--sizer-padding-left) + var(--sizer-padding-right)));
}

.markdown-source-view.mod-cm6.a3-page:is(*, is-readable-line-width) .markdown-embed .markdown-preview-sizer {
  padding: 0;
  width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
  max-width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
  min-width: calc(var(--a3-content-width) + var(--gutter-width) + var(--gutter-offset) + var(--sizer-padding-left) + var(--sizer-padding-right));
}





/* NOTE: Gutter */
.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}

/* CURSOR */
.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: var(--interactive-accent);
  color: var(--text-on-accent);
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background: var(--interactive-accent);
  color: var(--text-on-accent);
}

@-moz-keyframes blink {
  50% {
    background-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    background-color: transparent;
  }
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

/* Can style cursor different in overwrite (non-insert) mode */
.cm-tab {
  display: inline-block;
  text-decoration: inherit;
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  overflow: hidden;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */
.cm-negative {
  color: var(--text-error);
}

.cm-positive {
  color: var(--text-success);
}

.cm-strikethrough {
  text-decoration: line-through;
}

.cm-invalidchar {
  color: var(--text-error);
}

.CodeMirror-composing {
  border-bottom: 2px solid;
}

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22;
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3);
}

.CodeMirror-activeline-background {
  background: #e8f2ff;
}

/* STOP */
/* The rest of this file contains styles related to the mechanics of
     the editor. You probably shouldn't touch them. */
.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important;
  /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px;
  margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none;
  /* Prevent dragging from highlighting the element */
  position: relative;
}

.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
     before actual scrolling happens, thus preventing shaking and
     flickering artifacts. */
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0;
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0;
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3;
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent;
}

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent;
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px;
  /* prevents collapsing before first draw */
}

.CodeMirror .CodeMirror-line,
.CodeMirror .CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}

.CodeMirror-wrap .CodeMirror-line,
.CodeMirror-wrap .CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px;
  /* Force widget margins to stay inside of the container */
}

.CodeMirror-rtl pre {
  direction: rtl;
}

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}

.CodeMirror-measure pre {
  position: static;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}

div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected {
  background: #d9d9d9;
}

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0;
}

.CodeMirror-crosshair {
  cursor: crosshair;
}

.CodeMirror-line::selection,
.CodeMirror-line>span::selection,
.CodeMirror-line>span>span::selection {
  background: #d7d4f0;
}

.CodeMirror-line::-moz-selection,
.CodeMirror-line>span::-moz-selection,
.CodeMirror-line>span>span::-moz-selection {
  background: #d7d4f0;
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, 0.4);
}

/* Used to force a border model for a node */
.cm-force-border {
  padding-right: 0.1px;
}

@media print {

  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after {
  content: '';
}

/* NOTE: cm-content */
.markdown-source-view.mod-cm6 .cm-contentContainer {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  overflow-x: visible;
}

.markdown-source-view.mod-cm6 .cm-content {
  flex-basis: unset !important;
  width: 0;
  caret-color: var(--text-normal);
  min-height: unset;
  padding: 0
}

.is-mobile.is-ios .markdown-source-view.mod-cm6 .cm-content {
  -webkit-user-modify: read-write;
}

.markdown-source-view.mod-cm6 .cm-content>[contenteditable=false] {
  contain: paint !important;
}




/* NOTE: Pre */
.markdown-reading-view .markdown-preview-view .el-pre,
.print .markdown-preview-view pre {
  margin-bottom: var(--small-spacing);
}

/* SECTION: Content Lines */
.markdown-source-view.mod-cm6 .cm-content>* {
  margin-top: 0 !important;
  /* This is necessary if you want to align gutters to every line */
  margin-bottom: 0 !important;
  /* This is necessary if you want to align gutters to every line */
  display: block;
}

