/* NOTE: Spacings */
:is(.markdown-preview-view, .markdown-source-view .markdown-rendered) :is(ul, ol) li :is(.el-p, p):has(+ :not(.el-p, p)) {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-rendered ul:first-child,
.markdown-rendered ol:first-child {
  margin-block-start: 0;
  margin-top: 0;
}

.markdown-rendered ul:last-child,
.markdown-rendered ol:last-child {
  margin-block-end: 0;
  margin-bottom: 0;
}

.markdown-reading-view .markdown-preview-view.markdown-rendered *+ :is(.el-ul, .el-ol),
.print .markdown-preview-view.markdown-rendered *+ :is(ul, ol) .callout *+ :is(ul, ol) {
  margin-block-start: var(--small-spacing);
}

.markdown-reading-view .markdown-preview-view.markdown-rendered :is(.el-ul, .el-ol):has(+ *),
.print .markdown-preview-view.markdown-rendered :is(ul, ol):has(+ *) .callout *+ :is(ul, ol) {
  margin-block-end: var(--small-spacing);
}

.markdown-source-view.mod-cm6 .cm-line:has(> br):has(+ .HyperMD-list-line),
.markdown-source-view.mod-cm6 .HyperMD-list-line+.cm-line:has(> br) {
  height: var(--small-spacing);
  line-height: var(--small-spacing);
}

.markdown-source-view.mod-cm6 .cm-line:has(> br):has(+ .HyperMD-list-line):has(> .media-embed),
.markdown-source-view.mod-cm6 .HyperMD-list-line+.cm-line:has(> br):has(> .media-embed) {
  line-height: unset;
  height: unset;
} 

.markdown-rendered ul ul,
.markdown-rendered ol ul,
.markdown-rendered ul ol,
.markdown-rendered ol ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

.markdown-rendered :is(ul, ol) li p:first-of-type,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-list-line:first-of-type {
  margin-block-start: 0;
}

.markdown-rendered :is(ul, ol) li p:last-of-type,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-list-line:last-of-type {
  margin-block-end: 0;
}

.markdown-rendered :is(ul, ol)>li,
.markdown-source-view.mod-cm6 .cm-line.HyperMD-list-line {
  padding-top: var(--list-line-spacing);
  padding-bottom: var(--list-line-spacing);
}

