.inline-title {
    padding-bottom: 0.2rem;
    --border-width: 2px;
    font-weight: var(--inline-title-weight);
    font-size: var(--inline-title-size);
    line-height: var(--inline-title-line-height);
    font-style: var(--inline-title-style);
    font-variant: var(--inline-title-variant);
    font-family: var(--inline-title-font);
    margin-bottom: var(--inline-title-margin-bottom);
    letter-spacing: -0.015em;
    color: var(--inline-title-color);
}

.markdown-source-view .inline-title {
    padding-inline-start: calc(var(--gutter-width) + var(--gutter-offset));
    background: linear-gradient(to right,
            transparent 0px,
            transparent calc(var(--gutter-width) + var(--gutter-offset)),
            var(--color-base-100) calc(var(--gutter-width) + var(--gutter-offset)),       
            transparent 100%,       
            transparent 100%
    ) 
    bottom / 100% var(--border-width) 
    no-repeat
}

.markdown-reading-view .markdown-preview-view .inline-title {
    background: linear-gradient(to right,
            var(--color-base-100) 0%,       
            transparent 100%,       
            transparent 100%
    ) 
    bottom / 100% var(--border-width) 
    no-repeat
}

.hover-popover .inline-title,
.inline-embed .inline-title {
  display: none;
}

body:not(.show-inline-title) .inline-title:not([data-level]) {
  display: none;
}

