/* NOTE: Hibox */
.callout.callout[data-callout*="hibox"] {
  background-color: transparent !important;
  box-shadow: none !important;
}

.callout.callout[data-callout*="hibox"] .callout-content *,
.callout.callout[data-callout*="hibox"] .callout-content *::before,
.callout.callout[data-callout*="hibox"] .callout-content *::marker {
  visibility: hidden;
}

.callout.callout[data-callout*="hibox"] .callout-content {
  position: relative;
  height: auto;
  overflow: hidden;
  background: radial-gradient(circle at 0px 0px, var(--background-modifier-box-shadow), 0, var(--background-modifier-box-shadow), var(--hibox), transparent var(--hibox), transparent 0);
  transition: --hibox 0.6s linear;
}

.callout.callout[data-callout*="hibox"] .callout-content:hover {
  --hibox: 1500px;
  box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow) !important;
}

.callout.callout[data-callout*="hibox"] .callout-content:hover *,
.callout.callout[data-callout*="hibox"] .callout-content:hover *::marker,
.callout.callout[data-callout*="hibox"] .callout-content:hover *::before {
  border-color: inherit;
  visibility: visible;
}

.callout.callout[data-callout*="hibox"] .callout-content:hover ol:not(.contains-task-list)>li:not(.task-list-item) {
  border-color: var(--list-ol-block-color) !important;
}

.callout.callout[data-callout*="hibox"] .callout-content:hover ul>li:not(.task-list-item) {
  border-color: var(--list-ul-block-color) !important;
}

.callout.callout[data-callout*="hibox"] .callout-content:hover blockquote {
  border-color: var(--theme-color) !important;
  background-color: var(--background-blockquote) !important;
}

.callout.callout[data-callout*="hibox"] .callout-content:hover {
  border-color: var(--text-normal) !important;
}

